/* MAIN READER */
pre, code {
    font-size: 1.6rem;
}

.reader__main {
    margin-top: 2rem;
    text-align: center;
}

#reader__main--link:link,
#reader__main--link:visited {
    color: rgb(218, 142, 3);
}
#reader__main--link:hover {
    color: orange;
    text-decoration: underline;
}

/* READER DETAIL */
#reader__article {
    width: 80%;
    max-width: 740px;
    margin: auto;
    text-align: justify;
}
#reader__article > h1 {
    text-align: center;
    text-transform: capitalize;
    font-size: 2.4rem;
}
#reader__article > h1:last-child {
    margin-bottom: 3rem;
}
#reader__article > h2 {
    font-size: 2rem;
    margin-top: 3rem;
}
#reader__article > h3 {
    font-size: 1.8rem;
    margin-top: 3rem;
}
#reader__article > p {
    font-size: 1.6rem;
    line-height: 1.56;
    letter-spacing: -0.03em;
}
#reader__article > blockquote {
    border-left: 5px solid lightskyblue;
    font-style: italic;
    padding-left: 10px;
}
pre.language-js {
    background-color: #eee;
    padding: 1rem;
    white-space: pre-wrap;
}
.keyword {
    font-weight: bold;
}
.comment {
    color: #aaa;
}
code:not(.language-js) {
    background-color: #ddd;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
}