.navbar__main {
    display: flex;
    justify-content: space-around;
    position: fixed;
    height: 3em;
    background: linear-gradient(120deg, hsla(200, 60%, 70%, 1), hsla(120, 70%, 80%, 1), hsla(60, 70%, 80%, 1), hsla(300, 60%, 70%, 1));
    width: 100%;
    top: 0;
    padding-top: 1em;
    z-index: 5;
    font-size: 1.5em;
    box-shadow: 2px 3px 20px rgba(0,0,0, 0.2), 1px 2px 15px rgba(0,0,0, 0.21);
}

.active {
    font-weight: bold;
    color: #0000cc;
}