.deleteBook__main {
   color: rgb(211, 7, 7);
   text-align: center;
}
.deleteBook__bookTitle, .deleteBook__bookAuthor {
   text-transform: capitalize;
   font-weight: bold;
}
.deleteBook__button--cancel {
   background: dodgerblue;
   font-size: 1.6rem;
   font-family: inherit;
}
fieldset {
   margin: 1em auto;
   border-radius: 10px;
}
.deleteBook__button--submit {
   margin-top: 1em;
   background-color: rgb(245, 21, 21);
   color: rgba(255, 255, 255, 0.8);
}
[class ^= 'deleteBook__button'] {
   border: none;
   display: block;
   margin: auto;
   margin-bottom: 2em;
   width: 20rem;
   padding: 1.5em 1em;
   cursor: pointer;
   font-weight: bold;
   opacity: 0.65;
   transition: opacity 400ms;
}
[class ^= 'deleteBook__button']:hover {
   opacity: 1;
}

@media only screen and (max-width: 425px) {
   .deleteBook__main {
      width: 80%;
      margin: auto;
   }
   [class ^= 'deleteBook__button'] {
      width: 80%;
   }
}