#main__app {
  box-sizing: border-box;
  display: grid;
}

.app {
  position: relative;
  top: 5.25rem;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: inherit;
  }
}
.fade-enter {
  opacity: 0;
  display: none;
}
.fade-enter-active {
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-delay: 0.4s;
  animation-fill-mode: backwards;
}
.fade-enter-done {
  animation-play-state: paused;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    display: inherit;
  }
  to {
    opacity: 0.01;
    display: none;
  }
}

.fade-exit-active {
  animation-name: fadeOut;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}