#main__app {
  box-sizing: border-box;
  display: grid;
}

.app {
  position: relative;
  top: 5.25em;
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 600ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 250ms ease-out;
}